<aside>
	<div class="panel radius">
		<h3>About this blog</h3>
		<p>
			When I'm not working, I still like to do scientific research but in the form of 
			baking, gardening and other housewife/handyman skills. 

			The blog items are assigned a categories which I hope to include in a search bar one day! 
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


<!-- 	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside> -->